.custom-w{
    width : 75%
}
.custom-w-1{
    width : 55%
}
.custom-w-2{
    width :53%
}
.size_text{
    font-size : 4.45rem
}

.w-download{
    width : 45%
}
.custom-bottom-first{
    bottom : -8.5rem
}
.custom-bottom-second{
    bottom : -39rem
}