:root{
    --white-color : #fff;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Space Grotesk", sans-serif;
        text-decoration: none;
         font-optical-sizing: auto;
         color : white
      
        
    }
    li{
       list-style: none;
    }
    body, html {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
   